{% extends "base_light.html" %}


{% load i18n %}

{% block bg-class %} class="bg-omega" {% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<section class="container-fluid p-5">
    <h1>{% trans "OUT OF TIME ?" %}</h1>

    <p>{% trans 'Are you sure you leaving us ?' %}</p>

    <form  method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="form-control"/>
        {% endif %}
        <button type="submit" class="btn-sq bg-dark text-light">{% trans 'Sign Out' %}</button>
    </form>
</section>

{% endblock %}