{% extends 'base_light.html' %}
{% load cloudinary %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-12 px-5 py-3">
            <h3>CART SUMMARY</h3>
            <p>Below is the watch that you have selected</p>
        </div>
        <!-- display image of watch -->
        <div class="col-md-2 col-12 text-md-end text-center">
            {% cloudinary watch.cover height=150 %}
        </div>
        <div class="col-md-8 col-12">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th class="text-left">Watch Brand / Model</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- display summary of cart -->
                    <tr>
                        <td class="text-start w-50">{{watch.watch_brand}} {{watch.watch_model}}</td>
                        <td>$ {{watch.price}} </td>
                        <td>$ {{watch.price}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-start text-dark">
                            <h4>Total : $ </h4>
                        </td>
                        <td>$ {{watch.price}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="3" class="text-end">
                            <!-- Form for stripe -->
                            <form method="POST">
                                {% csrf_token %}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}" data-description="Watches" data-amount="{{amount}}"
                                    data-locale="auto"></script>
                                <input type="hidden" name="amount" value="{{amount}}" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

{% endblock %}